#wow-character-user-add .form-item-realm,
#wow-character-user-add .form-item-name,
#wow-character-user-add .form-actions {
  display: inline-block;
}

.color-c1 {
  color: #c69b6d !important;
}
.color-c2 {
  color: #f48cba !important;
}
.color-c3 {
  color: #aad372 !important;
}
.color-c4 {
  color: #fff468 !important;
}
.color-c5 {
  color: #f0ebe0 !important;
}
.color-c6 {
  color: #c41e3b !important;
}
.color-c7 {
  color: #2359ff !important;
}
.color-c8 {
  color: #68ccef !important;
}
.color-c9 {
  color: #9382c9 !important;
}
.color-c10 {
  color: #00ffba !important;
}
.color-c11 {
  color: #ff7c0a !important;
}
